<app-header></app-header>

<div class="container mt-4" >

  <div class="card" *ngIf="errorMsg && errorMsg.msg">
    <div class="card-body">
      <p *ngIf="errorMsg.status === 'success'" class="text-success">
        {{errorMsg.msg}}
      </p>
      <p *ngIf="errorMsg.status === 'error'" class="text-danger">
        {{errorMsg.msg}}
      </p>
    </div>
  </div>

 
  

  <h4 class="mt-4">Uploaded file</h4>
  <hr>

  <div class="input-group mb-3">

    <select #selection class="input-group-text" id="basic-addon1">
      <option value="">Select</option>
      <option value="id">ID</option>
      <option value="documentName">Name</option>
     </select>

     <input #byid type="text" class="form-control" placeholder="Username"
      aria-label="Username" aria-describedby="basic-addon1">
    <button (click)="filterId(byid,selection)" class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
        width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg></button>

      <button (click)="resetButton(byid,selection)"  class="input-group-text" id="basic-addon1">Reset
       </button>
  </div>

  <div class="input-group">
    <input #file type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    <button (click)="uploadFile(file)" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
  </div>  
  
  <div class="card" *ngIf="!showTableFlag">
    <div class="card-body">
      <h4 class="d-flex justify-content-center">No data found</h4>
    </div>
  </div>

  <div *ngIf="showTableFlag">
    <table class="table table-bordered border-primary mt-3">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>File Id</th>
          <th>File Name</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data; let i=index">
          <td>{{i + 1}}</td>
          <td>{{value.id}}</td>
          <td><a class="link-opacity-75" (click)="downloadFileById(value)">{{value.documentName}}</a></td>
          <td>
            <svg (click)="deletedDocument(value.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<app-footer></app-footer>
